[submodule ".oh-my-zsh/custom/plugins/zsh-system-clipboard"]
	path = .oh-my-zsh/custom/plugins/zsh-system-clipboard
	url = https://github.com/kutsan/zsh-system-clipboard.git
[submodule ".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".oh-my-zsh/custom/plugins/history-search-multi-word"]
	path = .oh-my-zsh/custom/plugins/history-search-multi-word
	url = https://github.com/zdharma/history-search-multi-word.git
[submodule ".oh-my-zsh/custom/plugins/auto-fu"]
	path = .oh-my-zsh/custom/plugins/auto-fu
	url = https://github.com/hchbaw/auto-fu.zsh.git
